parameters:
	ignoreErrors:
		-
			message: "#^Return typehint of method Sonata\\\\AdminBundle\\\\Action\\\\AppendFormFieldElementAction\\:\\:getFormRenderer\\(\\) has invalid type Symfony\\\\Bridge\\\\Twig\\\\Form\\\\TwigRenderer\\.$#"
			count: 1
			path: src/Action/AppendFormFieldElementAction.php

		-
			message: "#^Class Symfony\\\\Bridge\\\\Twig\\\\Form\\\\TwigRenderer not found\\.$#"
			count: 1
			path: src/Action/AppendFormFieldElementAction.php

		-
			message: "#^Return typehint of method Sonata\\\\AdminBundle\\\\Action\\\\RetrieveFormFieldElementAction\\:\\:getFormRenderer\\(\\) has invalid type Symfony\\\\Bridge\\\\Twig\\\\Form\\\\TwigRenderer\\.$#"
			count: 1
			path: src/Action/RetrieveFormFieldElementAction.php

		-
			message: "#^Class Symfony\\\\Bridge\\\\Twig\\\\Form\\\\TwigRenderer not found\\.$#"
			count: 1
			path: src/Action/RetrieveFormFieldElementAction.php

		-
			message: "#^Class Doctrine\\\\ODM\\\\MongoDB\\\\PersistentCollection not found\\.$#"
			count: 1
			path: src/Admin/AdminHelper.php

		-
			message: "#^Class Doctrine\\\\ORM\\\\PersistentCollection not found\\.$#"
			count: 1
			path: src/Admin/AdminHelper.php

		-
			message: "#^Class Symfony\\\\Bridge\\\\Twig\\\\Form\\\\TwigRenderer not found\\.$#"
			count: 1
			path: src/Controller/CRUDController.php

		-
			message: "#^Class Mopa\\\\Bundle\\\\BootstrapBundle\\\\Form\\\\Type\\\\TabType not found\\.$#"
			count: 1
			path: src/SonataAdminBundle.php

		-
			message: "#^Caught class Sonata\\\\AdminBundle\\\\Twig\\\\Extension\\\\LoaderError not found\\.$#"
			count: 1
			path: src/Twig/Extension/SonataAdminExtension.php

		-
			message: "#^Class Sonata\\\\AdminBundle\\\\Twig\\\\Extension\\\\LoaderError not found\\.$#"
			count: 1
			path: src/Twig/Extension/SonataAdminExtension.php


